
<center>
    <h1>ОШИБКА,ПРОБЛЕМА В МЕТОДЕ GetWeatherBishkek</h1>
    <h2>API ключ не получен</h2>
    <h1>Или проблема в получении данных</h1>
    <h2>Метод получения погодных данных для города</h2>
    </center>

